{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'website/base.css' %}">
        <title>{% block title %} SkinStore - CS:GO {% endblock %}</title>
    </head>
    <body>
        <nav class="page-intro">
            <ul>
                <li id="store-name"><a href="#">SkinStore</a></li>
                <li id="store-description">The best CS:GO skin store in the world</li>
                <li id="my-account-button"><a href="#">My account</a></li>
            </ul>
        </nav>
        <nav class="guns-categories">
            <ul>
                <li id="knifes"><a href="#">Knifes</a></li>
                <li id="gloves"><a href="#">Gloves</a></li>
                <li id="riflers"><a href="#">Riflers</a></li>
                <li id="awps"><a href="#">AWPs</a></li>
                <li id="others"><a href="#">Others</a></li>
            </ul> 
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
