{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'website/base.css' %}">
        <title>{% block title %} SkinStore - CS:GO {% endblock %}</title>
    </head>
    <body>
        <div class="intro">
            <h1 id="store-name">SkinStore</h1>
            <div class="categories-container">
                <nav>
                    <ul>
                        <li><a href="#">Knifes</a></li>
                        <li><a href="#">Gloves</a></li>
                        <li><a href="#">Riflers</a></li>
                        <li><a href="#">AWPs</a></li>
                        <li><a href="#">Others</a></li>
                    </ul> 
                </nav>
            </div>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
