{% extends 'website/base.html' %}
{% load static %}

{% block content %}
{% for knife in knifes %}
<div class="card bg-dark d-inline-flex" style="width: 13rem">
  <img id="product-image" src="{% static 'skins/knifes/butterfly_gamma_doppler.png' %}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title text-white">{{ knife.name }}</h5>
    <h6 class="card-text text-white">{{ knife.quality }}</h6>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
{% endfor %}
{% endblock %} 
