* {
    margin: 0;
}

body {
    background-image: url('../images/csgo_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-intro ul {
    list-style: none; 
    display: flex;
    justify-content: space-around;
}

.guns-categories {
    display: table;
    margin: 0 auto;
}

.guns-categories li {
    list-style: none; 
    display: inline;
}

.guns-categories li a {
    text-decoration: none;
    color: #b5ff79;
}
