@font-face {
    font-family: "csgo-font";    
    src: url("../fonts/cs_regular.ttf") format("truetype");
}

* {
    margin: 0;
}

body {
    background-image: url('../images/csgo_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    font-family: "csgo-font";
    text-align: center; 
    color: white;
    padding-bottom: 1em;
    font-size: 2em;
    background-color: #232429;
}

.intro h1 {
    padding: 20px; 
}

.categories-container {
    display: table;
    margin: 0 auto;
}

.categories-container ul {
    padding-left: 0;
}

.categories-container li {
    display: inline;
    margin-left: 10px;
}

.categories-container li:hover {
    border-bottom: 2px solid white;
}

.categories-container li a {
    text-decoration: none;
    color: #b5ff79;
}