* {
    margin: 0;
}

body {
    background-image: url('../images/csgo_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-intro ul {
    list-style: none; 
    display: flex;
    justify-content: space-around;
}
