.login, .register {
    background-color: white;
    display: grid;
    justify-content: center;
    width: 25%;
    margin: 0 auto;
    border-radius: 10px;
}

#email, #password {
    padding-top: 10px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid blue;
}

input[type=submit] {
    margin-top: 20px;
}
